section.banner {
    background: #2579ED imgUrl('banner.png') right bottom;

    @media screen and (max-width: 1200px) {
        background: #2579ED;
    }
}

.partnersSlider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 50px;

        @media screen and (max-width: 540px) {
            margin: 0 24px;
        }
    }
}

#serviceSlider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        height: inherit;
        margin: 0 6px;
    }
}

section.form {
    form {
        .form-control {
            background: #2579ED;
            height: 53px;
            border-radius: 8px;
            border: 2px solid #F0F6FF;
            width: 100%;
            padding: 4px 16px;
            color: #F0F6FF;
            font-weight: 700;
            font-size: 18px;

            &::placeholder {
                color: #F0F6FF;
                opacity: 0.8;
                font-weight: 400;
            }

            &:focus-visible {
                outline: #F0F6FF auto 1px;
            }
        }
    }
}

.accordion {
    .accordion-card{
        .accordion-body {
            display: none;
        }

        .accordion-head {
            cursor: pointer;
        }
    }
}